* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --size-1px: 1px;
    --line-solid: solid;
    --auto: auto;
}

nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

main img {
    width: 150px;
    height: var(--auto);
    border: var(--size-1px) var(--line-solid) black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

p {
    padding: 0;
}

main {
    max-width: 840px;
}

aside {
    width: 25rem;
    text-align: center;
    position: relative;
}

aside h2 {
    position: absolute;
    top: 20px;
    right: 120px;
}

aside img {
    width: 200px;
    height: var(--auto);
}

footer {
    margin-top: 15px;
    border-top: 1.5px var(--line-solid) #000;
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: var(--size-1px) var(--line-solid) rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: antiquewhite;
    color: #333;
}